{% load static %}
<!-- ======= Menu Section ======= -->
<section id="productos" class="productos bg-dark">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    {% if user.is_staff %}
      <div class="section-title">
        <h2>Administrar productos</h2>
        <br>
        <a href="{% url 'producto:addp' %}"
           class="book-a-table-btn text-center text-light nav-link mt-4" >
            Añadir nuevo producto</a>
      </div>
    {% endif %}

    <div class="section-title text-center">
      <p>Productos Disponibles</p>
    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="productos-flters">
          <li data-filter="*" class="filter-active">Todo</li>
          <li data-filter=".filter-perfumes">Comidas y bebidas</li>
          <li data-filter=".filter-bebidas">Turismo</li>
          <li data-filter=".filter-inmuebles">Belleza</li>
          <li data-filter=".filter-articulo-hogar">Articulos del hogar</li>
        </ul>
      </div>
    </div>

    <div class="row menu-container justify-content-center" data-aos="fade-up" data-aos-delay="200">
      {% for producto in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3 menu-item filter-{{ producto.tipo }}">
          <div class="card h-100 shadow-sm text-white rounded-3 overflow-hidden" style="background: #1e1e1e">
            <!-- Imagen centrada -->
            <div class="text-center">
              <img src="{{ producto.image.url }}" class="card-img-top special-img" alt="Imagen de {{ producto.nombreP }}" style="object-fit: cover; width: 250px; height: 250px;">
            </div>

            <!-- Contenido -->
            <div class="card-body d-flex flex-column" >
              <!-- Nombre -->
              <h5 class="card-title text-start mb-2">{{ producto.nombreP }}</h5>

              <!-- Descripción -->
              <p class="card-text text-start mb-3 flex-grow-1">{{ producto.detalles|truncatechars:90 }}</p>

              <!-- Precio y botones -->
              <div class="btns p-0 border-0 d-flex justify-content-between">
                <!-- Precio -->
                <span class="text-warning fs-5">${{ producto.precio }}</span>

                <!-- Botones -->
                    <a href="{% url 'producto:add_producto_carrito' producto.pk %}" class="nav-link">
                      <img src="{% static 'img/añadir.png' %}" alt="Añadir al carrito">
                    </a>
                  {% if user.is_staff or is_Adminisrtador %}
                    <a href="{% url 'producto:updatep' producto.pk %}" class="nav-link">
                      <img src="{% static 'img/editar.png' %}" alt="Editar">
                    </a>
                    <a href="{% url 'producto:deletep' producto.pk %}" class="nav-link">
                      <img src="{% static 'img/eliminar.png' %}" alt="Eliminar">
                    </a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
