{% load static %}
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img w-75  ">
              <img src="{% static 'img/us.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content text-light">
            <h3>Por Más, un grupo creado para la venta y promoción de artículos varios.</h3>
            <p class="fst-italic">
              El negocio ofrece una variada selección de articulos y un servicio de primera calidad. <br>
              Nuestro compromiso es brindar a nuestros clientes el mejor servicio posible, asegurando la disponibilidad de su pedido mediante una reserva previa a la compra.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Por qué nosotros</h2>
          <p>Por qué preferir nuestro negocio?</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Red de Distribución Amplia: </h4>
              <p>En Por Más, hemos establecido una red de distribución extensa que garantiza la disponibilidad de nuestros productos en múltiples puntos de venta. Esto nos permite llegar a más clientes y satisfacer sus necesidades de manera eficiente.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Excelente Servicio al Cliente:</h4>
              <p>Nuestro equipo de atención al cliente es amable y profesional, siempre dispuesto a ayudar con cualquier consulta o necesidad que tengas. Nos esforzamos por brindarte una experiencia de compra satisfactoria y personalizada.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>Variedad de Productos y Ofertas:</h4>
              <p> Ofrecemos una amplia gama de opciones, seleccionados cuidadosamente para cubrir las diversas necesidades de nuestros clientes. Desde productos básicos hasta artículos especializados, siempre hay algo nuevo y relevante para ti.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->