* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    inset: 0;
}

:root {
    --src-img-open: '../svg/bars.svg';
    --src-img-close: '../svg/xmark.svg';
}

/* -------------------------------- HEADER -------------------------*/


.header__content {
    display: grid;
    width: 90%;
    margin: 0px auto;
    height: 100%;
    grid-template-columns: repeat(2,max-content);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: max-content;
    height: 70px;
}

.header__logo > img {
    margin-top: -6px;
    margin-left: 10px;
    height: 93px;
    width: 125px;
}

.header__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2000;
    background-image: url('../svg/bars.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__menu--close {
    background-image: url(../svg/xmark.svg);
}

/* --------------------------------- NAV ---------------------*/
.nav {
    position: fixed;
    inset: 0;
    background-color: #0009;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.nav--show {
    opacity: 1;
    pointer-events: unset;
}

.nav__content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "search" "navbar";
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.nav__search {
    grid-area: search;
}

.nav__form {
    display: flex;
    height: 35px;
    border: 1px solid #555;
    border-radius: 35px;
    margin-bottom: 15px;
}

.input__search {
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 0px 18px;
    font-size: 16px;
}

.nav__button--send {
    width: 60px;
    border: none;
    background-color: #000;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.nav__login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.login__link {
    display: inline-block;
    color: #fff;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
}

.nav__user {
    width: 15px;
    height: 15px;
}

.login__link--user {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    background-color: #fe9426;
}

.nav__avatar {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #222;
    margin-left: 18px;
    border: 1px solid #555;
    display: grid;
    place-content: center;
}

.nav__avatar--img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.nav__menu {
    grid-area: navbar;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 25px 0px;
    gap: 30px;
}

.menu__item, .nav__dropdown {
    display: block;
    color: #fff;
    position: relative;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0px;
}

.nav__parent {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    padding: 5px 0px;
    font-size: 20px;
    cursor: pointer;
}

.nav__link:hover , .nav__parent:hover, .active {
    color: #ff9628;
}

.nav__link--parent > img {
    width: 15px;
    height: 15px;
}

img.rotate {
    transform: rotateZ(180deg);
}

.menu__item--icons {
    margin-top: auto;
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.nav__icon--img {
    width: 25px;
    height: 25px;
}

.nav__submenu {
    list-style-type: none;
    font-size: 16px;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
}

.nav__submenu > li {
    padding-left: 25px;
}

.nav__dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;
    font-size: 17px;
    text-decoration: none;
}

.nav__inner {
    display: none;
}

.banel_info {
    position: absolute;
    content: '';
    top: -9px;
    left: 5px;
    font-size: 10px;
    padding: 2px 5px;
    background-color: #ee4367;
    border-radius: 5px;
}
/*....................................Footer.................................................*/

#footer {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #333;
}

.footer__content {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    padding-top: 25px;
    align-content: end;
}

.footer__block {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
}

.footer__title {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    text-align: center;
}

.footer__more--info {
    padding-top: 10px;
    color: #aaa;
}

.footer__address {
    color: #aaa;
    padding-top: 10px;
}

.footer__list {
    padding-top: 10px;
    list-style-type: none;
    color: #999;
    text-align: center;
}

.footer__item:not( :last-of-type) {
    margin-bottom: 5px;
}

.footer__list--icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer__link > img {
    width: 22px;
    height: 22px;
}

.footer__policy {
    width: 90%;
    margin: auto;
    padding-bottom: 25px;
}

.footer__list--policy {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.footer__item--policy {
    padding: 0px 25px;
}

.footer__item--policy:not( :last-of-type) {
    border-right: 1px solid #555;
}

.footer__item--policy > a {
    text-decoration: none;
    color: #999;
    font-size: 14px;
}

.footer__arrow {
    position: absolute;
    right: 20px;
    bottom: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
    display: grid;
    place-content: center;
}

.footer__arrow--up {
    width: 27px;
    height: 27px;
}


/*........................................media screen........................................*/

@media screen and (min-width: 1000px) {
    .header__menu {
        display: none;
    }

    .header__content {
        grid-area: logo;
        display: inline-block;
        width: max-content;
        height: 80px;
        margin: 0px;
    }

    .nav {
        grid-area: nav;
        position: static;
        opacity: 1;
        background-color: transparent;
        pointer-events: unset;
        transition: none;
        height: 100%;
    }

    .nav__content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,40px);
        grid-template-areas: "search" "navbar";
        padding-top: 0px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        overflow: visible;
    }

    .nav__search {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: 1fr;
        grid-template-areas: "formSearch login";
        align-items: center;
        justify-content: center;
    }
    .nav__form {
        grid-area: formSearch;
        display: flex;
        height: 35px;
        border: 1px solid #555;
        margin: 0px 20px;
    }

    .input__search {
        flex: 1;
        height: 100%;
        outline: none;
        border: none;
        padding: 0px 18px;
        font-size: 16px;
    }

    .nav__button--send {
        width: 60px;
        border: none;
        background-color: #000;
    }

    .nav__login {
        grid-area: login;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin: 0px;
    }


    .nav__menu {
        grid-area: navbar;
        width: 100%;
        flex-direction: row;
        padding: 0px;
        overflow: visible;
        gap: 0px;
    }

    .menu__item {
        width: max-content;
    }

    .menu__item:not( :nth-of-type(5), :last-of-type) {
        border-right: 1px solid #666;
    }

    .nav__link {
        padding: 0px 25px;
    }

    .nav__parent {
        padding: 0px 25px;
    }

    .menu__item--icons {
        margin-top: 0px;
        margin-left: auto;
        gap: 15px;
    }

    .nav__submenu {
        position: absolute;
        top: 130%;
        width: max-content;
        list-style-type: none;
        font-size: 16px;
        height: 0px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 0px 5px #0009;
    }

    .item__submenu {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        z-index: 1;
    }

    .nav__submenu > li::before {
        position: absolute;
        content: '';
        inset: 0;
        background-color: #222;
        right: 100%;
        transition: right 0.3s ease;
        z-index: -1;
    }

    .nav__submenu > li:hover::before {
        right: 0px;
    }
    .nav__submenu > li:hover > * {
        color: #fff;
    }

    .nav__dropdown, .nav__item {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-left: none;
        font-size: 17px;
        text-decoration: none;
        color: #000;
    }

}


/* FORMS */
.noticias{
    display: flex;
    flex-wrap: nowrap; /* Para colocar los elementos en línea */
    margin: 10px;
}
.noticias > h2 {
    margin: 0; /* Para quitar el margen que centra los h2 */
}
.noticias > h2:hover{
    color: #00FA9AFF;
}

@media screen and (min-width: 300px) {

        .noticias__form1 {
            margin-top: 40px;
            width: 700px;
            max-height: max-content;
            transform: translateY(0px);
            opacity: 1;
            border: 1px solid #678;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #90999999;
            border-radius: 25px;
            box-shadow: 0px 0px 5px #0009;
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Divide en 4 columnas iguales */
        }
        .noticias__form2 {
            margin-top: 40px;
            width: 500px;
            max-height: max-content;
            transform: translateY(0px);
            opacity: 1;
            border: 1px solid #678;
            padding: 40px;
            background-color: #90999999;
            border-radius: 25px;
            box-shadow: 0px 0px 5px #0009;
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Divide en 2 columnas iguales */
        }
        .noticias__form3 {
            margin: 40px;
            width: 500px;
            max-height: max-content;
            transform: translateY(0px);
            opacity: 1;
            border: 1px solid #678;
            padding: 40px;
            background-color: #90999999;
            border-radius: 25px;
            box-shadow: 0px 0px 5px #0009;
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Divide en 2 columnas iguales */
        }

        .noticias__form1 label,.noticias__form1 input {
            justify-self: center;
            color: #fff;
        }

        .noticias__form2 label,.noticias__form2 input {
            justify-self: center;
            color: #fff;
        }

        .noticias__form3 label,.noticias__form3 input {
            justify-self: center;
            color: #fff;
        }

        .titulo-label {
            grid-column: span 4; /* Hace que ocupe 3 columnas */
            justify-self: start; /* Alinea a la izquierda (inicio) */
            margin-bottom: 0;
            font-size: 20px;
        }
        .titulo-input {
            grid-column: span 4; /* Hace que ocupe 4 columnas */
            grid-row: 1; /* Hace que esté en la primera fila */
            padding: 10px;
            font-size: 30px;
        }

        .url-label{
            grid-column: span 4;
            justify-self: start; /* Alinea a la izquierda (inicio) */
            margin-bottom: 0;
        }

        .noticias__h2{
            position: relative;
            margin: 40px;
            font-size: 2.5em;
            color: #fff;
            font-weight: bold;
            text-align: center;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .noticias__h2:hover{
            color: #00FA9AFF;
            cursor: pointer;
        }

        #content{
            resize:none;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 10px;
            color: #000;
            margin-right: 10px;
        }
        #content:focus {
            background-image: linear-gradient(to top,#aaaa,transparent);
            border-radius: 6px;
        }
        #comment{
            resize:none;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 10px;
            color: #000;
        }
        #comment:focus {
            background-image: linear-gradient(to top,#aaaa,transparent);
            border-radius: 6px;
        }
        .custom-file-upload {
            grid-column: 1; /* Hace que esté en la primera columna */
            grid-row: 2; /* Hace que esté en la segunda fila */
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 15px;
        }
        #preview {
            width: 150px;
            height: 150px;
            grid-row: 2; /* Hace que esté en la segunda fila */
        }

        .noticias input {
            width: 80%;
            height: 50%;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 10px;
            color: #000;
        }
        .titulo-input {
            grid-column: span 4; /* Hace que ocupe 3 columnas */
            padding: 10px;
            font-size: 30px;
        }
        .url-input{
            grid-column: span 4; /* Hace que ocupe 3 columnas */
            padding: 10px;
        }

        .noticias input:focus {
            background-image: linear-gradient(to top,#aaaa,transparent);
        }

        .form1__dep{
            background: #333333;
            color: #fff;
            margin: 5px;
            padding: 2px;
            border-radius: 5px;
        }
        .form1__dep:hover{
            background: #666;
            border: none;
        }

        .form__labels--checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }

        #checkbox {
            order: 1;
            accent-color: #f00;
        }

        [for="checkbox"] {
            order: 2;
            color: #ccc;
            font-size: 16px;
            /*text-decoration: underline;*/
        }

        .form__send {
            padding: 10px;
            margin: 10px;
            background-color: #ee4367;
            border: none;
            font-size: 18px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-radius: 7px;
            color: #fff;
        }

        .form__send:hover {
            background-color: #ba2b4d;
        }
        .form-toggle.active {
            cursor: pointer; /* Cambia el cursor al hacer clic en el elemento activo */
        }
        }
        .form-hidden {
            display: none;
        }
@media screen and (min-width: 600px) {
        .form__login {
            width: 400px;
        }

        .form__labels {
            width: 300px;
        }
}