{% load static %}

<header class="root__header shadow-sm pb-2 position-fixed w-100 top-0">
     <div class="header__content">
        <figure class="header__logo mt-0">
            <img src="{% static 'img/logo.png' %}" alt="">
        </figure>

        <figure class="header__menu">
        </figure>

        <figure class="header__menu--close">
        </figure>
    </div>

    <nav class="nav">

        <div class="nav__content">

            <div class="nav__search">

                <form action="" class="nav__form">
                    <input type="search" class="input__search" placeholder="Buscar">
                    <button class="nav__button--send"><img class="nav__button--sendi" src="{% static 'svg/search.svg' %}" alt=""></button>
                </form>

                <div class="nav__login mb-3 mt-3">
                    <a href="{% url 'user:login' %}" class="login__link login__link--user ">
                        <span>Iniciar Sesión</span>
                        <img src="{% static 'svg/arrow-right-to-bracket.svg' %}" class="nav__user" alt="">
                    </a>
                    <a href="{% url 'user:register' %}" class="login__link login__link--register">
                        <span>Registrarse</span>
                        <img src="{% static 'svg/user-plus.svg' %}" class="nav__user-plus" alt="">
                    </a>
                </div>
            </div>

            <ul class="nav__menu">
                <li class="menu__item">
                    <a href="#" class="nav__link">Inicio</a>
                </li>

                <li class="menu__item">
                    <span class="nav__parent">Usuarios<img class="nav__parent--img" src="{% static 'svg/caret-down.svg' %}" alt=""></span>
                    <ul class="nav__submenu ps-0">
                        <li class="item__submenu"><a class="nav__dropdown" href="{% url "user:list" %}"> Listar Usuarios</a>
                        </li>
                        <li class="item__submenu"><a class="nav__dropdown" href="{% url "user:register" %}"> Nuevo Usuario</a>
                        </li>
                    </ul>
                </li>

                <li class="menu__item">
                    <span class="banel_info">New</span>
                    <span class="nav__parent">Ofertas relevantes<img class="nav__parent--img" src="{% static 'svg/caret-down.svg' %}" alt=""></span>
                    <ul class="nav__submenu ps-0">
                        <li class="item__submenu"><a href="#" class="nav__dropdown">Lo más buscado</a></li>
                        <li class="item__submenu"><a href="#" class="nav__dropdown">Marketing Digital</a></li>
                        <li class="item__submenu"><a href="#" class="nav__dropdown">Promoción y Publicidad</a></li>
                        <li class="item__submenu"><a href="#" class="nav__dropdown">Diseño de Carteles y Fotos</a></li>
                        <li class="item__submenu"><a href="#" class="nav__dropdown">Gestión de Compra y Venta</a></li>
                    </ul>
                </li>

                <li class="menu__item nav-item ">
                    <a href="#" class="nav__link">Productos</a>
                </li>

                <li class="menu__item nav-item ">
                    <a href="#" class="nav__link">Eventos</a>
                </li>

                <li class="menu__item nav-item ">
                    <a href="#" class="nav__link">Contactos</a>
                </li>

                <li class="menu__item menu__item--icons mt-2 nav-item ">
                    <a href="#" class="nav__icon">
                        <img src="{% static 'svg/whatsapp.svg' %}" class="nav__icon--img" alt="">
                    </a>
                    <a href="#" class="nav__icon">
                        <img src="{% static 'svg/facebook.svg' %}" class="nav__icon--img" alt="">
                    </a>
                    <a href="#" class="nav__icon">
                        <img src="{% static 'svg/telegram.svg' %}" class="nav__icon--img" alt="">
                    </a>
                    <a href="#" class="nav__icon">
                        <img src="{% static 'svg/instagram.svg' %}" class="nav__icon--img" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
